@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SproutWebServer.MyModel>
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Farmer Charlie Sprouts</title>
</head>
<body>
index cshtml!
@Model.Name
</body>
</html>